<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django App </title>
    <style type="text/css" media="all">
      .message {
        margin: 20px;
      }
    </style>
  </head>
  <body>
    
     {% include 'nav.html'%} 
     {% for message in messages%}
        <div class="alert-{{message.tags}} message">
          {{ message }}
        </div>
       {% endfor %}
     {% block content %}
      <!-- all other UI fragments goes here -->

      
     {%  endblock content%}
  </body>
</html>